body {
    
    font-family: 'Arial', sans-serif;
    
    color: #333;
  }
  
  /* .contact-container {
    display: flex;
    
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
   */
  .contact-image {
    flex: 1 1 50%;
    max-width: 500px;
    animation: fadeInLeft 1.2s ease-in-out;
  }
  

  
  .contact-form {
    flex: 1 1 50%;
    max-width: 700px;
    padding: 20px;
    
    
    border-radius: 10px;
    animation: fadeInRight 1.2s ease-in-out;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .contact-form .btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contact-form .btn:hover {
    background-color: #45a049;
  }
  
  /* Animations */
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  