.glow-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  border-radius: 16px;
  background: linear-gradient(
    45deg,
  
     #FF3811,#E6B615 ,#FF3811,#B38E0F
  );
  background-size: 400% 400%;
  animation: border-glow 2s ease infinite;
  z-index: 10;
}

.inner-box {
  background-color: #000;
  border-radius: 12px;
  padding: 1.5rem;
  width: 90vw;
  max-width: 450px;
  height: 32vh;
  text-align: center;
}



@keyframes border-glow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
